# Directories to exclude
vendor/
tests/
tmp/

# System files
*.DS_Store

# Git-related files
.git/
.gitignore

# Dockerfile
Dockerfile

# Environment variables
.env
.env.example

# Documentation files
*.md